/*  Page styles  */

html{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body{
    font: normal 1em/1.625 'Merriweather', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	color: #676767;
}

a {
	text-decoration: none;
	color: rgb(41, 171, 226);
}

header{
	box-sizing: border-box;
	text-align: center;
	width: 100%;
	padding: 25px 40px;
	background-color: #357F9C;
	overflow: hidden;
}

header h1{
	float: left;
	font: normal 24px/1.5 'Raleway', sans-serif;
	color: #fff;
	text-shadow: -1px -2px 2px #000;
}

header a{
	color:#fff;
	float: right;
	text-decoration: none;
	display: inline-block;
	padding: 13px 50px;
	border-radius: 3px;
	font: bold 14px/1 'Merriweather', sans-serif;
	text-transform: uppercase;
	background-color:#F05283;
}

ul {
	list-style: none;
	border-bottom: 1px solid #EAEAEA;
	background-color: #FFF;
	padding: 20px;
	margin-top: 0;
	text-align: center;
}

ul a{
	text-decoration: none;
	color: #FFF;
	text-align: left;
	background-color: #BCB8C2;
	padding: 10px 16px;
	border-radius: 2px;
	opacity: 0.8;
	font-size: 16px;
	display: inline-block;
	margin: 4px;
	line-height: 1;
	outline: none;
	transition: 0.2s ease;
}

ul li a.active{
	background-color: #F05283;
	pointer-events: none;
}

ul li a:hover {
  opacity: 1;
}


ul li{
  display: inline-block;
}

.skrollr-desktop body {
  height:100% !important;
}

#skrollr-body {
	height:100%;
	position:relative;
	overflow: hidden;
}

/*  Styles for this example */


.parallax-image.skrollable-between {
  display:block;
}

.no-skrollr .parallax-image-wrapper {
  display:none !important;
}

.parallax-image-wrapper {
	position:fixed;
	left:0;
	width:100%;
	overflow:hidden;
	height:80vh;
	top:-80vh;
}

.parallax-image {
	display:none;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	height:100vh;
	top:0;
}

.parallax-image.skrollable-between {
  display:block;
}

.no-skrollr .parallax-image-wrapper {
  display:none !important;
}

.gap {
	background:transparent center no-repeat;
	background-size:cover;
	height:80vh;
}

.skrollr .gap {
  background:transparent !important;
}

/*  End of scrollr styles   */

/*Intro*/

#page-intro h1{
	text-align: center;
	color: #fff;
	font: normal 4em 'Raleway', sans-serif;
	padding-top: 24vh;
	text-shadow: -1px -2px 2px #000;
}

@media (max-width: 800px) {
    #page-intro h1 {
			font-size: 42px;
			padding-top: 15vh;
    }
}

#page-intro .btn{
	color: #fff !important;
	display: block;
	margin: 40px auto;
	width: 200px;
	text-align: center;
	border: 1px solid #fff;
	padding: 18px 20px;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}

/*Body Text*/
.body-text{
	padding: 140px 0;
	background-color: #fff;
	color: #25373C;
	font-size: 1.2em;
	text-align: center;
}

.body-text h2{
	font-size: 3em;
	font-weight: normal;
	margin-bottom: 80px;
	color: #686868;
}

.body-text p{
	width: 28%;
	display: inline-block;
	text-align: left;
	padding: 20px;
	color: #45636B;
}


@media (max-width: 900px){

    .body-text p{
      width: 100%;
    }

}

/*Features List*/


.features-list{
	padding: 150px 0;
	background-color: #fff;
	color: #25373C;
	font-size: 1.2em;
	min-height: 100vh;
	text-align: center;
}

.features-list h2{
	font-size: 3em;
	margin-bottom: 80px;
	font-weight: normal;
}

.features-list div{
	display: inline-block;
	width: 30%;
	margin: 5px;
	border: 1px solid #ccc;
	padding: 45px;
	box-shadow: 1px 1px 1px #ccc, 0 0 30px #eee inset;
}

.features-list div i{
	font-size: 150px;
	margin-bottom: 40px;
	color: #787878;
}

.features-list div h4{
	font-size: 1em;
	text-transform: uppercase;
	color: #425F67;
	font-weight: normal;
}


@media (max-width: 900px){

    .features-list div{
			width: 90%;
			margin-bottom: 30px;
    }

}


/*About us*/

.about-us {
	padding: 150px 0;
	background-color: #fff;
	min-height: 120vh;
	text-align: center;
	color: #25373C;
	font-size: 1.2em;
}

.about-us h2{
	font-size: 3em;
	margin-bottom: 80px;
	font-weight: normal;
}

.about-us div{
	text-align: center;
	width: 25%;
	margin: 30px 10px;
	display: inline-block;
}


.about-us div img{
	border-radius: 50%;
	width: 60%;
}

.about-us a.attribution{
	display: block;
	font-size: 0.9em;
	text-decoration: none;
	color: inherit;
	width: 280px;
	margin: 50px auto 10px;
	opacity: 0.5;
}


@media (max-width: 800px){

    .about-us div{
			width: 45%;
			margin: 20px 0;
    }

}


/*Gallery*/


.gallery{
	color: #7b7b7b;
	font: normal 24px sans-serif;
	min-height: 300vh;
	text-align: center;
	overflow: hidden;
	background: linear-gradient(white, #EEF6F9);
}

.gallery h2 {
	font-size: 2.7em;
	margin-bottom: 80px;
}

.gallery img {
	border: 1px solid #999;
}

.scroll-pause{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding-top: 20vh;
	background: transparent;
}


.scroll-pause .row{
	width: 200vw;
	height: 30vh;
	overflow: hidden;
}

.scroll-pause .row div{
	width: 11.5%;
	height: 90%;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0.5%;
	border-radius: 7px;
	border: 1px solid #e8e8e8;
}

.scroll-pause .row div:first-child{
  margin-left: 0.4%;
}

.scroll-pause .row div:last-child{
  margin-right: 0.4%;
}

/* Footer */

.footer {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 1em sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	margin-top: 80px;
	overflow: hidden;
}

/* Footer left */

.footer .footer-left{
	float: left;
}

.footer h3{
	color:  #ffffff;
	font: normal 3em 'Raleway', sans-serif;
	margin: 0 0 10px;
}

.footer h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer .footer-company-name{
	color:  #8f9296;
	font-size: 1em;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer .footer-icons{
	margin-top: 40px;
}

.footer .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 3px;
	font-size: 1.5em;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer .footer-right{
	float: right;
}

.footer .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer form{
	display: inline-block;
}

.footer form input,
.footer form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;
	font: inherit;
	font-size: 0.9em;
	font-weight: normal;
	color:  #d1d2d2;
	width: 400px;
	padding: 18px;
}

.footer ::-webkit-input-placeholder {
	color: #5c666b;
}

.footer ::-moz-placeholder {
	color: #5c666b;
	opacity: 1;
}

.footer :-ms-input-placeholder{
	color:  #5c666b;
}


.footer form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

@media (max-width: 1000px) {

	.footer {
		font: bold 0.9em sans-serif;
	}

	.footer .footer-company-name{
		font-size: 0.7em;
	}

	.footer form input,
	.footer form textarea{
		width: 250px;
	}

	.footer form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer {
		padding: 30px;
	}

	.footer .footer-left,
	.footer .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer .footer-left{
		margin-bottom: 40px;
	}

	.footer form{
		margin-top: 30px;
	}

	.footer form{
		display: block;
	}

	.footer form button{
		float: none;
	}

}

/* contact form */

#contact {
	display: block;
	width: 650px;
	margin: 70px auto;
	padding: 35px;
	border: 1px solid #cbcbcb;
	background-color: #FFF;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
}

.error_message {
	display: block;
	height: 22px;
	line-height: 22px;
	background: #FBE3E4 url('assets/error.gif') no-repeat 10px center;
	padding: 3px 10px 3px 35px;
	margin: 10px 0;
	color:#8a1f11;
	border: 1px solid #FBC2C4;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
}

.center {
	width: 50%;
	margin: 2em auto 0;
}

#succsess_page h1 {
	background: url('assets/success.gif') left no-repeat;
	padding-left:22px;
}
